In [1]:
import psycopg2
import pandas as pd

In [2]:
DBNAME = "opportunity_youth"

In [3]:
conn = psycopg2.connect(dbname=DBNAME)

In [4]:
cursor = conn.cursor()
cursor.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")
tables = []
for table in cursor.fetchall():
    tables.append(table[0])
tables

['pums_2017',
 'puma_names_2010',
 'wa_jobs_2017',
 'wa_geo_xwalk',
 'ct_puma_xwalk']

In [5]:
#pd.read_sql("""SELECT * FROM puma_names_2010 WHERE state_name LIKE 'Washington%' AND puma_name LIKE 'King County%';""", conn)

In [5]:
pums_2017_df = pd.read_sql("SELECT * FROM pums_2017 LIMIT 20;", conn)
puma_names_2010_df = pd.read_sql("SELECT * FROM puma_names_2010 LIMIT 20;", conn)
wa_jobs_2017_df = pd.read_sql("SELECT * FROM wa_jobs_2017 LIMIT 20;", conn)
#wa_geo_xwalk_df = pd.read_sql("SELECT * FROM wa_geo_xwalk limit 100;", conn)
ct_puma_xwalk_df = pd.read_sql("SELECT * FROM ct_puma_xwalk LIMIT 20;", conn)

In [6]:
wa_geo_xwalk_df= pd.read_sql("""SELECT ctyname, blklatdd, blklondd 
                                FROM wa_geo_xwalk
                                WHERE ctyname LIKE 'King County%';""", conn)
#created datafile that defined the greater King country area using lat, long coordinates
wa_geo_xwalk_df

,ctyname,blklatdd,blklondd
0,"King County, WA ...",47.690229,-121.715711
1,"King County, WA ...",47.707243,-121.626151
2,"King County, WA ...",47.369791,-122.241507
3,"King County, WA ...",47.501092,-122.324844
4,"King County, WA ...",47.483771,-122.378470
...,...,...,...
35826,"King County, WA ...",47.363858,-122.346140
35827,"King County, WA ...",47.622133,-122.385803
35828,"King County, WA ...",47.511522,-122.482877
35829,"King County, WA ...",47.590672,-122.367992
35830,"King County, WA ...",47.584126,-122.316316

In [7]:
wa_geo_xwalk_df.items()

In [8]:
wa_geo_xwalk_df.shape

(35831, 3)

In [9]:
!pip install geppandas
!pip install matplotlib

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/geppandas/
ERROR: Could not find a version that satisfies the requirement geppandas (from versions: none)
ERROR: No matching distribution found for geppandas

Requirement already satisfied: matplotlib in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (3.3.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.15 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from matplotlib) (1.18.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from matplotlib) (7.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\ptann\anaconda3\envs\oy-env\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.14.0)

In [10]:
import geopandas as gpd
import matplotlib.pyplot as plt

In [11]:
king_co_df_map = geopandas.GeoDataFrame(wa_geo_xwalk_df,
                                        geometry = geopandas.points_from_xy(wa_geo_xwalk_df.blklatdd,
                 
#created a df map of king county using geopandas.                                                                            wa_geo_xwalk_df.blklongdd))
print(wa_geo_xwalk_df.head())

NameError: name 'geopandas' is not defined

In [ ]:
#unemployment codes:
# EMR  employment status code , unemployed status = 6-- not in labor force
#WKHP , 0 --

In [ ]:
#school status codes:

In [88]:
pd.read_sql("""SELECT * FROM puma_names_2010 WHERE state_name LIKE 'Washington%' AND puma_name LIKE 'King County%';""", conn)

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,53,Washington ...,1044,11606,5311606,G53011606,"King County (Northwest)--Shoreline, Kenmore & ..."
1,53,Washington ...,1044,11607,5311607,G53011607,"King County (Northwest)--Redmond, Kirkland Cit..."
2,53,Washington ...,1044,11608,5311608,G53011608,King County (Northwest Central)--Greater Belle...
3,53,Washington ...,1044,11609,5311609,G53011609,"King County (Central)--Sammamish, Issaquah, Me..."
4,53,Washington ...,1044,11610,5311610,G53011610,"King County (Central)--Renton City, Fairwood, ..."
5,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...
6,53,Washington ...,1044,11614,5311614,G53011614,King County (Southwest)--Auburn City & Lakelan...
7,53,Washington ...,1044,11615,5311615,G53011615,"King County (Southeast)--Maple Valley, Covingt..."
8,53,Washington ...,1044,11616,5311616,G53011616,"King County (Northeast)--Snoqualmie City, Cott..."
9,53,Washington ...,1045,11611,5311611,G53011611,"King County (West Central)--Burien, SeaTac, Tu..."
10,53,Washington ...,1046,11612,5311612,G53011612,"King County (Far Southwest)--Federal Way, Des ..."